############################
# Python
############################
__pycache__/
*.pyc
*.pyo
*.pyd

############################
# Model Weights & Artifacts
############################
mnt_ner_model/

############################
# Jupyter
############################
.ipynb_checkpoints/

############################
# Project Structure
############################
task1/
task1/data/*

task2/output/
logs/
